{% extends 'polls/base.html' %}
{% block pageIndex%}
	class='active'
{%endblock%}
{% block body%}
<div class="heading"><h1>&nbsp;&nbsp;Recent Polls</h1></div>
{% if latest_question_list %}
	<ul class="list">
		{% for question in latest_question_list%}
			<li class="list_item">
				<a href="{% url 'polls:detail' question.id %}">{{question.question_text}}</a>
				<a href="{% url 'polls:questiondelete' question.id %}" class="list_item_attr">
					<i class="glyphicon glyphicon-trash"></i></a>
				<a href="{% url 'polls:choiceadd' question.id %}" class="list_item_attr"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add Choice</a>
				<a href="{% url 'polls:questionedit' question.id %}" class="list_item_attr"><i class="glyphicon glyphicon-edit"></i>&nbsp;Edit Question</a>
			</li>
		{% endfor %}
	</ul>
{% else %}
	<p>No polls are available.</p>
{% endif %} 
{% endblock%}